<%= render partial: "categories/partials/nav", locals: { id: @category.id, category: @category } %>
<section class="article-show">
  <div class="pop-up-box">
  	<div class="header">
  		<div class="img-bg-cover" style="background-image: url('<%= @article.main_pic.url("regular")%>') "></div>
  		<%= image_tag @article.main_pic.url("regular") %>
  	</div>
  	<h2><%= @article.title %></h2>
    <%= render partial: "layouts/sub_nav", locals: { title: @article.category.title } %>
    <div class="pop-up-content">
	    <p>
	    	<%= raw @article.content %>
			</p>
		</div>
  </div>
</section>


