<% content_for :title, @article.title %>
<% content_for :description, @article.description %>
<% content_for :image, @article.main_pic.url("regular") %>

<%= render partial: "layouts/nav", locals: { id: @category.id, category: @category } %>
<section class="article-show">
  <div class="pop-up-box">
  	<div class="header">
  		<div class="img-bg-cover" style="background-image: url('<%= @article.main_pic.url("regular")%>') "></div>
  		<%= image_tag @article.main_pic.url("regular") %>
  	</div>
  	<%= render partial: "layouts/sub_nav", locals: { category: @article.category } %>
  	<h2><%= @article.title %></h2>
    <div class="pop-up-content">
	    <p>
	    	<%= raw @article.content %>
			</p>
		</div>
  </div>
</section>
<script>

  $(window).on('load', function() {

    $("#introduce-laws").click(function() {
      $('html,body').animate({
        scrollTop: $(".sec2-3").offset().top
        }, 'slow');
    })
  })
</script>

