<% content_for :title, @video.title %>
<% content_for :description, @video.description %>
<% content_for :image, @video.main_pic.url("regular") %>

<%= render partial: "categories/partials/nav", locals: { id: @category.id, category: @category } %>
<section class="article-show">
  <div class="pop-up-box">
  	<h2><%= @video.title %></h2>
    <%= render partial: "layouts/sub_nav", locals: { category: @video.category } %>
    <div class="pop-up-content">
	    <!--  yotuber box -->
	    <div class="youtube-box-main" style="margin-top: 30px;">
	      <div class="youtube-box-main-169">
          <%= raw @video.video %>
	        <!-- <iframe src="https://www.youtube.com/embed/FUXMqninXK0" frameborder="0" allowfullscreen></iframe> -->
	      </div>
	    </div> 
			<!--  yotuber box END -->
      <p>
        <%= raw @video.description %>
      </p>
		</div>
  </div>
</section>
<style>
.youtube-box-main {
  position: relative;
  width: 95%;
  max-width: 950px;
  margin: auto;
}
.youtube-box-main-169 {
  padding-bottom: 53%; /*撐出16:9*/
}
.youtube-box-main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  pointer-events: visible;
}
/* ----- youtuber-box END ----- */
</style>
<script>

  $(window).on('load', function() {
    
    $(window).bind('resize', function() {
      $nav = $('#nav').offset().top
      $sub_nav = $('#sub_nav').offset() ? $('#sub_nav').offset().top - 50 : 0
    }).resize();

    $(window).bind('scroll', function() {
      $this_Top = $(this).scrollTop();
      if ( $this_Top > $nav ) {
        $('body').addClass('nav-fixed')
      } else {
        $('body').removeClass('nav-fixed')
      }

      if ( $this_Top > $sub_nav ) {
        $('body').addClass('sub_nav-fixed')
      } else {
        $('body').removeClass('sub_nav-fixed')
      }
  　}).scroll();

    $("#introduce-laws").click(function() {
      $('html,body').animate({
        scrollTop: $(".sec2-3").offset().top
        }, 'slow');
    })
  })
</script>