<%= render partial: "layouts/nav" %>
<style>
	#nav {
		position: fixed;		
	}

	.team {
		margin-top: 50px;
	}
	.team [class*='flex'] {
		margin: 0;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
	}

	.team [class*='flex'] > * {
		margin: 0;
	}

	.team .flex-fill {
		display: block;
	}

	.team .member-info-head {
		justify-content: flex-start;
	}

	.team .section-title {
		text-align: left;
	}

	.team .about-p {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		margin-top: 60px;
		overflow: hidden;
		max-height: 175px;
		transition: 1s ease;
	}

	.team .about-p:after {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 -50px 70px -10px rgba(255, 255, 255, .9);
	}

	.team .about-p.active {
		margin-bottom: 50px;
		padding-bottom: 50px;
		max-height: 100%;
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, .15);
	}

	.team .about-p.active:after {
		display: none;
	}

	.team .og-btn {
		line-height: 30px;
		height: 30px;
		font-size: 14px;
		width: 100px;
		margin: 25px 0 50px auto;
	}

	.team-area {
		min-height: 0;
	}

	.team .f-wrap {
		flex-wrap: wrap;
	}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<main class="team">
    <article>
        <section class="team-area leader-dep">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12">
												<h2 class="section-title">
													婚姻平權大平台的出生與成長
												</h2>
												<p class="about-p">
													2016年3月，立法委員尤美女與數個國內性別、同志組織、法界人士等召開會議，針對同志婚姻民法修正草案做討論。同年10月份，台大法籍教授畢安生離世，引發台灣社會對於婚姻平權議題的高度關注，討論中的草案便在此時公開。<br><br>
													年底11月17日，婚姻平權民法修正草案進行第一次委員會審查，反同團體集結於立法院外，因審查會因而中斷。為了凝聚社群共識，婚姻平權大平台接連舉辦多次集會、講座，積極進行社會對話以及政治遊說行動，盼能取得民眾支持，同時也走訪各黨團希冀取得政治能量以利法案的推動。在2016年的12月10日，籌備期僅僅兩週的凱道音樂會，聚集25萬人走上街頭支持婚姻平權，因著這股動能讓法案順利通過委員會審查。<br><br>
													2017年，台灣同志諮詢熱線協會、台灣同志家庭權益促進會、婦女新知基金會、台灣同志人權法案遊說聯盟、GagaOOLala正式籌組「婚姻平權大平台」，為推動婚姻平權的落實，組織化進行政治遊說、社會倡議等行動。<br><br>
													2017年5月24日大法官釋憲，宣告現行民法婚姻限定一男一女違憲，奠定了台灣為亞洲第一個保障同志婚姻的歷史定位，更引發國際關注與媒體大篇幅的報導。然在釋憲之後，反同團體為反制婚姻平權保障所有公民的實現，於2018年發起公投要求不得修改民法對於婚姻的定義，為因應全國性選舉的龐大支出與能量，婚姻平權大平台必須擴編組織人員，同時招募全國各地方的組織者，將原來的政治遊說事務，擴及至全台灣的在地組織行動。<br><br>
													2018年也由於公投綁年底九合一大選，複雜度增加、行政程序也相較複雜。婚姻平權大平台針對反同團體所發起的三個公投提案，著手「三個不同意」宣傳行動，透過各地組織志工深入市場、鬧區等人潮聚集地發放文宣並進行街頭短講。後因「平權前夕，彩虹起義」發起另外兩個同婚公投提案，為不分散社群動能，我們將宣傳主軸由三個不同意轉而為「兩好三壞」，並在10月31日發起選前募資，短短一個月時間募集一千萬元，倚靠群眾對於平權的期盼與力量，得以讓婚姻平權的廣告在選前黃金時段於各大報、主流媒體上露出，同時也在計程車、公車車身露出增加曝光度。<br><br>
													即使社會動能強烈滾動，但仍不敵反同團體毫無上限的資金投注，以及堅實的組織系統。2018年11月24日反同團體所提出的三項公投案全然大勝同志團體的兩項平權議案，引發社群焦慮，各地組織也回報有同志朋友自殘、輕生等訊息，因此婚姻平權大平台在此時轉而處理社群情緒修復，並持續進行政治遊說行動，盼能在大法官釋憲與公投結果之間尋求最佳的平衡，保障同志權益也降低社會衝突與撕裂。<br><br>
													時序來到2019年，在2018年底選舉之後，婚姻平權大平台積極拜訪各個黨團，亦約見將近90名立委，討論在大法官釋憲所提之兩年期限之前，能夠切實保障同志權益，在符合公投「現階段不修改民法規定」的狀況中，最大限度的完整所有同志公民的權利，於此同時，反同團體更是以公投優勢進行政治倡議，試圖抵擋任何讓同志合法締結配偶權益的可能性。<br><br>
													在多方的討論與壓力下，行政院蘇貞昌院長於2019年2月22日提出同婚專法草案「司法院釋字第748號解釋施行法」，揭示政府保障同志權益的決心。婚姻平權大平台2017年成立之目標是為民法修正落實真平等，公投結果顯示我國民眾對於同志身份、同志婚姻仍有疑義與誤解，未來勢必需要倚靠更多的對話來化解誤會，進步分階段、改革無法一次到位，但仍感謝一路走來得到許多夥伴的支援，也感念執政黨在種種壓力下的努力。<br><br>
													無法達到組織成立之初的理想，雖然有些遺憾，仍然期許台灣社會在歷史的浪潮中不斷往前推進，接納、包容多元的色彩與價值，在不久的將來，同志公民的保障能無異於其他所有人。
												</p>
												<div class="og-btn" id="about-more-btn">了解更多</div>
                        <h2 class="section-title">
                            總召
                        </h2>
                        <div class="article-inner">
                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/01.png') %>" alt="呂欣潔">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            呂欣潔
                                        </div>
                                        <div class="member-job-title">
                                            總召集人／發言人
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        社工。女同志。工作即生活的工作狂。夢想是人人平等生活的，當個台灣人
                                    </div>
                                    <div class="member-experience">
                                        台灣同志諮詢熱線協會文宣部主任、資深研究員<br/>
                                        社會民主黨立委落選人<br/>
                                        有心咖啡共同創辦人<br/>
                                        國際特赦組織台灣分會理事、監事主席<br/>
                                        聯合國多元性別倡議小組亞洲代表<br/>
                                        台北市政府青年委員、市政顧問<br/>
                                        衛生福利部保護服務司反性別暴力諮詢網諮詢委員<br/>
                                        LEZS 雜誌、想想論壇專欄作家
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/02.png') %>" alt="鄧筑媛">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            鄧筑媛
                                        </div>
                                        <div class="member-job-title">
                                            副總召集人／政策立法遊説專案經理
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        法律研究所畢業的非法律人，喜歡觀察不愛說話的政治工作者。<br/>
                                        研究所前是個死大學生，研究所開始接觸各項社會運動
                                    </div>
                                    <div class="member-experience">
                                        台灣農村陣線法農小組<br/>
                                        RCA 案法律問卷訪談計畫<br/>
                                        國會助理
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/03.png') %>" alt="蔡尚文">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            蔡尚文
                                        </div>
                                        <div class="member-job-title">
                                            副總召集人／整合行銷策略總監
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        尚脩文武、大治清平；修行人、入世者，願我來世得菩提時，大家都去死。
                                    </div>
                                    <div class="member-experience">
                                        台灣同志家庭權益促進會　常務理事<br/>
                                        2016-2017 婚姻平權大平台實體活動　舞台總監<br/>
                                        臺灣同志遊行　大會協調／行政秘書／旗手組組長<br/>
                                        曾服務 adidas、2018 Standard Chartered Bank
                                        Marathon、Häagen-Dazs、Firefox、NIVEA、Nestle、Dassault Systèmes、Marvell 等知名品牌
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team-area marketing-dep">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12">
                        <h2 class="section-title">
                            數位行銷與文宣部
                        </h2>
                        <div class="article-inner">
                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/04.png') %>" alt="小C">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            小C
                                        </div>
                                        <div class="member-job-title">
                                            社群總監
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        Chalynn 動物夥伴小心事粉絲專頁求讚友，容易曬黑，最喜歡吃壽司
                                    </div>
                                    <div class="member-experience">
                                        2017 搖滾台中、桃園三金頒獎典禮文宣企畫<br/>
                                        2016 婚姻平權大平台「讓生命不再逝去_演唱會」文宣企畫<br/>
                                        2016 蔡英文總統競選團隊彩虹卡系列宣傳暨文案<br/>
                                        2014 台北市市長柯文哲競選總部文宣<br/>
                                        2012 蔡英文總統競選團隊社運部專員
                                    </div>
                                </div>
                            </div>
                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/05.png') %>"
                                         alt="Aki YJ Chen">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            Aki YJ Chen
                                        </div>
                                        <div class="member-job-title">
                                            視覺設計總監
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        開合跳工作室創辦人，喜歡養沒有毛的動物。期待用設計讓世界邁向各種平權。
                                    </div>
                                    <div class="member-experience">
                                        2018 桃園電影節官方網站設計、看見．齊柏林基金會品牌識別設計<br/>
                                        2017 拉子性愛寶典2.0 募資專案視覺設計及裝幀設計<br/>
                                        2016／2018 台北市政府同志公民活動主視覺及衍伸物設計<br/>
                                        2015 社會民主黨立委參選人呂欣潔競選視覺設計<br/>
                                        三間咖啡店和兩間區塊鏈新創的視覺設計顧問<br/>
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/06.png') %>" alt="Eating">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            Eating
                                        </div>
                                        <div class="member-job-title">
                                            文宣企畫專案經理
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        傳播人做什麼事都不奇怪，從傳統媒體產業，走到 NGO 工作者之路，<br/>
                                        為的是一個初衷：「專業為誰所用？」
                                    </div>
                                    <div class="member-experience">
                                        2017 婚姻平權大平台網站統籌、文宣企畫<br/>
                                        2015 至善基金會企劃宣傳部專員<br/>
                                        2013 熱線老同小組義工，熱線晚會義工<br/>
                                        2012 聯合新聞網內容部網路編輯<br/>
                                        2007 中視早安新聞現場導播<br/>
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/07.png') %>" alt="林忠毅">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            林忠毅
                                        </div>
                                        <div class="member-job-title">
                                            數位企劃暨組織專員
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        Ｖ
                                    </div>
                                    <div class="member-experience">
                                        2018 宜蘭驕傲大遊行、台南彩虹遊行 主持人<br/>
                                        2017 臺灣同志遊行 主持人<br/>
                                        2016 遭黃安點名台獨份子<br/>
                                        2016 婚姻平權小蜜蜂 宜蘭苦工蜂<br/>
                                        2012 成功大學學生會長<br/>
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/08.png') %>" alt="周芷萱">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            周芷萱
                                        </div>
                                        <div class="member-job-title">
                                            故事實驗室管理員
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        女性主義者，現任異性戀
                                    </div>
                                    <div class="member-experience">
                                        2017 姝文創共同創辦人<br/>
                                        2016 讀冊生活社群經營部經理<br/>
                                        2016 不分區立法委員候選人<br/>
                                        2015 台大研究生協會會長<br/>
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/09.png') %>" alt="李屏瑤">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            李屏瑤
                                        </div>
                                        <div class="member-job-title">
                                            故事實驗室之採集人
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        在社會生存的本質不適合我們，那我們就去改變這個社會。
                                    </div>
                                    <div class="member-experience">
                                        作家。<br/>
                                        編劇。<br/>
                                        採訪。
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/10.png') %>" alt="張瓊文">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            張瓊文
                                        </div>
                                        <div class="member-job-title">
                                            故事實驗室之煉成人
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        愛聽故事是天性，想說故事是本能。走在成為電影導演的路上，婚姻平權工作是則無旁貸。夢想是活在人人平等生活，沒有歧視的社會。
                                    </div>
                                    <div class="member-experience">
                                        文本映像有限公司創辦人<br/>
                                        台灣同志諮詢熱線長期義工<br/>
                                        美國南加州大學電影電視製作藝術碩士
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team-area finance-dep">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12">
                        <h2 class="section-title">
                            行政財務部
                        </h2>
                        <div class="article-inner">
                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/22.png') %>" alt="Nana">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            Nana
                                        </div>
                                        <div class="member-job-title">
                                            執行秘書
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        霸凌 OUT 無論是性別性向還是腰圍。人生太短所以把自己逼到極限。眷村不在了我還在。我懷疑故我在。愛是唯一。
                                    </div>
                                    <div class="member-experience">
                                        2018 年國際家庭日（台北華山大草原）活動籌備<br/>
                                        台灣同志諮詢熱線協會中老年同志小組志工<br/>
                                        國立臺灣大學醫學院附設醫院志工<br/>
                                        華人拉拉聯盟草根培訓工作人員<br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team-area activities-dep">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12">
                        <h2 class="section-title">
                            組織活動部
                        </h2>
                        <div class="article-inner">
                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/11.png') %>" alt="曹承羲／美克">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            曹承羲／美克
                                        </div>
                                        <div class="member-job-title">
                                            組織經營暨活動企劃 資深經理
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        兩隻貓的爸爸，一生都在學習與自己的身體共榮，期待在自我與社會化之間找到平衡。
                                    </div>
                                    <div class="member-experience">
                                        大學時代在同志諮詢熱線被滋養成長，教育小組講師、參與多次熱線遊行隊伍籌備<br/>
                                        2016 底加入婚姻平權團隊，統籌大型集會活動，一個月內完成三場，總計超過三十萬人次的集會。<br/>
                                        10 年以上行銷活動人，奧美促動行銷／經緯行動策略行銷專案經理<br/>
                                        服務過豐力富、康寶、家樂福、原萃、美粒果、雀巢、等品牌
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/12.png') %>" alt="饅頭">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            饅頭
                                        </div>
                                        <div class="member-job-title">
                                            組織經營專員
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        養了一隻貓，主張台灣獨立的排灣族女同志，支持傳統領域部落自治。
                                    </div>
                                    <div class="member-experience">
                                        高雄同志遊行聯盟 志工／籌備／舞台組組長<br/>
                                        318 戰鬥澡小隊志工（提供立院周圍民眾到附近旅館免費盥洗）<br/>
                                        信義區居家托育務中心 訪視輔導員<br/>
                                        婚姻平權小蜜蜂 台北地區苦工蜂<br/>
                                        原住民族部落自治運動者
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/13.png') %>" alt="翁鈺清／嗡嗡">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            翁鈺清／嗡嗡
                                        </div>
                                        <div class="member-job-title">
                                            組織經營專員_北北基
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        真誠待人，善待自己。聽起來好像有點嚴肅！但其實是個傻妞。
                                    </div>
                                    <div class="member-experience">
                                        社民黨立委候選人呂欣潔競選團隊志工<br/>
                                        台大意識報社長<br/>
                                        有心咖啡服務生&活動專員<br/>
                                        TIWA 台灣國際勞工協會實習生&志工<br/>
                                        台灣同志諮詢熱線接線義工
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/14.png') %>" alt="小隻">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            小隻
                                        </div>
                                        <div class="member-job-title">
                                            組織經營專員_台中
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        海王星摩羯人，習慣築牆卻渴望走進世界，相信愛與平等。
                                    </div>
                                    <div class="member-experience">
                                        音樂五四三聽友們的靴腿小組組長<br/>
                                        兩間二手書店店員<br/>
                                        花蓮住海邊民宿管家<br/>
                                        台灣同志諮詢熱線教育小組&親密小組志工<br/>
                                        台中女中、政大廣電系畢業
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/15.png') %>" alt="湯姆 Tom">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            湯姆 Tom
                                        </div>
                                        <div class="member-job-title">
                                            組織經營專員_高雄
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        女性主義者／跨性別
                                    </div>
                                    <div class="member-experience">
                                        2017-2018 科技部專案計畫「台灣同志運動中婚姻平權的法律動員」研究助理<br/>
                                        2017 熱線南辦第九屆募款晚會前台組組長／跨性別節目籌備人<br/>
                                        2017-2018 高雄醫學大學性別研究所所學會會長<br/>
                                        2016-2018 同志諮詢熱線南部辦公室教育小組志工／跨性別議題講師<br/>
                                        2015-2016 臺大學生會性別工作坊小編
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/16.png') %>" alt="早安美芝晨">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            早安美芝晨
                                        </div>
                                        <div class="member-job-title">
                                            組織經營專員_台南
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        青春的肉體／主婦的靈魂／本體是不動產業者與組織行銷人
                                    </div>
                                    <div class="member-experience">
                                        2018 第三屆台南彩虹遊行 志工組組長<br/>
                                        2016 台南市立委候選人楊智達辦公室主任<br/>
                                        2016 台南新芽協會共同發起人<br/>
                                        2014 台南大學行政管理菁英培訓營總召
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/17.png') %>" alt="小梅">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            馮梅君／小梅
                                        </div>
                                        <div class="member-job-title">
                                            組織經營專員_花東
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        喜歡繪畫、字體、書籍、電影，夢想成為獨當一面的藝術創作者。
                                    </div>
                                    <div class="member-experience">
                                        2018 花東彩虹嘉年華籌備志工<br/>
                                        2017 臺灣同志遊行地景組志工<br/>
                                        2017 宜塊彩虹園遊會籌備志工<br/>
                                        2016 宜蘭婚姻平權小蜜蜂<br/>
                                        2015 舉辦小型迷你畫展
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team-area pr-dep">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12">
                        <h2 class="section-title">
                            活動部
                        </h2>
                        <div class="article-inner">
                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/18.png') %>" alt="珂珂">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            珂珂
                                        </div>
                                        <div class="member-job-title">
                                            活動專員
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        靈魂旅行者。雙性戀。革命家。貓奴。想成為藝術家及人權捍衛者。希望世界和平
                                    </div>
                                    <div class="member-experience">
                                        國際特赦組織台灣分會 募款專員<br/>
                                        台灣同志諮詢熱線協會 教育小組志工<br/>
                                        香港商智善社會企業 募款組長
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/19.png') %>" alt="東東">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            東東
                                        </div>
                                        <div class="member-job-title">
                                            活動專員
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        不是熊也不是豬，只是個胖子。但我很好，願我們都好。
                                    </div>
                                    <div class="member-experience">
                                        淡江大學同進社學術長<br/>
                                        淡江性別平等工作坊發起兼負責人<br/>
                                        立法委員許毓仁國會辦公室助理<br/>
                                        台灣同志諮詢熱線協會 教育小組志工
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team-area pr-dep">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12">
                        <h2 class="section-title">
                            公共關係部
                        </h2>
                        <div class="article-inner">
                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/20.png') %>" alt="Benson">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            Benson
                                        </div>
                                        <div class="member-job-title">
                                            公共關係專案經理
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        想要成為一個會說故事的人，所以要先累積很多很多故事，每一刻與每個人相遇都是重要的章節
                                    </div>
                                    <div class="member-experience">
                                        婚姻平權 有愛一同 年節紅包、春聯<br/>
                                        婚姻平權 有愛一同 LINE 貼圖<br/>
                                        婚姻平權 有愛一同 名人舉牌響應<br/>
                                        婚姻平權 有愛一同 社會實驗影片<br/>
                                        2015-2018 世紀奧美公關專案經理，服務過 Heineken、STRONGBOW、Tiger
                                        Beer、ASICS、Timberland、Philips、Xbox、Logitech 等消費品牌
                                    </div>
                                </div>
                            </div>

                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/21.png') %>" alt="Kate">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            Kate
                                        </div>
                                        <div class="member-job-title">
                                            公共關係專員
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        關注女性情慾自主的疑性戀，服裝配件創作人，以火焰之鳥的姿態身體實踐和挑戰對性、性別與關係的想像。
                                    </div>
                                    <div class="member-experience">
                                        2013-2018 手作品牌「Qucky」創作人<br/>
                                        2011-2018 女性情慾自主議題講師<br/>
                                        2011 年性／別領 show 營總召<br/>
                                        中正大學性平會學生代表<br/>
                                        中正大學酷斯拉社第二屆社長
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team-area donate">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12">
                        <h2 class="section-title">
                            感謝公益協助
                        </h2>
                        <div class="article-inner d-md-flex justify-content-around f-wrap">
                            <div class="member">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/charity.png') %>" alt="charity">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head">
                                        <div class="member-name">
                                            <a href="https://www.facebook.com/%E5%A4%A7%E6%A8%B9%E5%BD%B1%E5%83%8F-1432696313665608/" target="_blank">大樹影像</a>
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        協助公益拍攝
                                    </div>
                                </div>
                            </div>
                            <div class="member">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/charity.png') %>" alt="charity">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head">
                                        <div class="member-name">
                                            <a href="https://www.facebook.com/AlexRexstudio/" target="_blank">Art Studio 集藝工作室</a>
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        協助公益拍攝
                                    </div>
                                </div>
                            </div>
                            <div class="member">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/charity.png') %>" alt="charity">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head">
                                        <div class="member-name">
                                            <a href="https://thejjs.com/" target="_blank">開合跳工作室</a>
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        協助公益拍攝與修圖
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="team-area pr-dep other-team">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-12">
                        <h2 class="section-title">
                            網站製作團隊
                        </h2>
                        <div class="article-inner">
                            <div class="member d-flex">
                                <div class="member-avatar">
                                    <img class="img-fluid" src="<%= asset_path('main/team/tue-logo.png') %>" alt="tuesday">
                                </div>
                                <div class="member-info flex-fill">
                                    <div class="member-info-head d-flex align-items-end">
                                        <div class="member-name">
                                            火曜日設計
                                        </div>
                                        <div class="member-job-title">
                                            Tuesday Design
                                        </div>
                                    </div>
                                    <div class="member-saying">
                                        以設計思考、生活美學出發，結合理性工程與創新技術，用貼心的服務替顧客建立嶄新的風貌。                                    </div>
                                    <div class="member-experience">
                                        網站設計／謝馥羽、林凱偉、陳姸寧<br/>
                                        網站工程／許家程、李冠緯
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
<script>
	$('#about-more-btn').click(function() {
		$(this).hide();
		$('.about-p').addClass('active');
	})
</script>