<header>
  <div class="header-left img-bg-cover flex-ac-jc-">
    <div class="header-left-content">
      <div class="header-logo">
        <img src="<%= asset_path('common/logo_v_white.svg') %>" alt="">
      </div>
      <span>給你滿滿的同婚知識</span>
      <div class="og-btn" id="introduce-laws">了解修法</div>
    </div>
    <a href="https://drive.google.com/drive/folders/0B1vSFYXav6P0cWR3cldLMmVFWFU?usp=sharing" target="_blank">
      各月份財務報告
    </a>
  </div>
  <div class="header-right">
    <!-- 置頂的文章 -->
    <% @pinned_articles.find_each do |article| %>
    <div style="background-image: url('<%= article.main_pic.url("regular") %>');" class="post-block img-bg-cover">
      <div class="mask"></div>
      <div class="tag">
        <%= article.category.title %>
      </div>
      <div class="block-content">
        <h2><%= article.title %></h2>
        <p>
          <%= article.description %>
        </p>
      </div>
      <%= link_to "閱讀文章", article_path(article), class: "g-btn" %>
    </div>
    <% end %>
  </div>
</header>

<%= render partial: "layouts/nav", locals: { id: nil, category: nil } %>

<div class="equallove-bar flex-jc-ac-">
  <h1 class="pc">婚姻平權目前進度</h1>
  <div class="equallove-bar-main flex-jsb-afs-l6-">
    <div class="equallove-bar-step equallove-bar-step1 <%= in_progress(1) %>">
      <div></div>
      <h3>提案</h3>
    </div>
    <div class="equallove-bar-step equallove-bar-step2 <%= in_progress(2) %>">
      <div></div>
      <h3>一讀</h3>
    </div>
    <div class="equallove-bar-step equallove-bar-step3 <%= in_progress(3) %>">
      <div></div>
      <h3>委員會<br class="m">審查</h3>
    </div>
    <div class="equallove-bar-step equallove-bar-step4 <%= in_progress(4) %>">
      <div></div>
      <h3>黨團<br class="m">協商</h3>
    </div>
    <div class="equallove-bar-step equallove-bar-step5 <%= in_progress(5) %>">
      <div></div>
      <h3>二讀</h3>
    </div>
    <div class="equallove-bar-step equallove-bar-step6 <%= in_progress(6) %>">
      <div></div>
      <h3>三讀</h3>
    </div>
  </div>
</div>

<section class="sec2-2 flex-jc-ac-">
  <div class="content">
    <div class="s2-tabs flex-l4-m2-s1-">
      <% if @category_newest.on? && @pinned_newest.present? %>
      <div class="tab">
        <div class="h3_2"><%= @category_newest.title %></div>
        <%= link_to article_path(@pinned_newest) do %>
        <div class="s2-article">
          <div class="img img-bg-cover" style="background-image: url(<%= @pinned_newest.main_pic.url("regular") %>);"></div>
          <div class="text">
            <h4><%= @pinned_newest.title %></h4>
            <p><%= @pinned_newest.description %></p>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
      <% if @category_news.on? && @pinned_news.present? %>
      <div class="tab">
        <div class="h3_2"><%= @category_news.title %></div>
        <%= link_to article_path(@pinned_news) do %>
        <div class="s2-article">
          <div class="img img-bg-cover" style="background-image: url(<%= @pinned_news.main_pic.url("regular") %>);"></div>
          <div class="text">
            <h4><%= @pinned_news.title %></h4>
            <p><%= @pinned_news.description %></p>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
      <% if @category_rumor.on? && @pinned_rumor.present? %>
      <div class="tab">
        <div class="h3_2"><%= @category_rumor.title %></div>
        <%= link_to article_path(@pinned_rumor) do %>
        <div class="s2-article">
          <div class="img img-bg-cover" style="background-image: url(<%= @pinned_rumor.main_pic.url("regular") %>);"></div>
          <div class="text">
            <h4><%= @pinned_rumor.title %></h4>
            <p><%= @pinned_rumor.description %></p>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
      <% if @category_video.on? && @pinned_video.present? %>
      <div class="tab">
        <div class="h3_2"><%= @category_video.title %></div>
        <%= link_to video_path(@pinned_video) do %>
        <div class="s2-article">
          <div class="img img-bg-cover" style="background-image: url(<%= @pinned_video.main_pic.url("regular") %>);"></div>
          <div class="text">
            <div class="s2-a-date"></div>
            <h4><%= @pinned_video.title %></h4>
            <p><%= @pinned_video.description %></p>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="s2-more">
      <span>我們還有更多精彩文章</span>
      <%= link_to "閱讀所有文章", category_path(Category.first), class: "og-btn" %>
    </div>
  </div>
</section>
<section class="sec2-3 flex-ac-jc-">
  <div class="content">
    <h2 class="mobile-big">同婚專法上路，三大重點告訴你</h2>
    <div class="s2-icons">
      <div class="icon">
        <%= image_tag "common/icon/01-1.png" %>
        <div class="text">
          <h4>遵守憲法，<br class="show-on-mobile"/>也尊重公投結果</h4>
          <p>
            大法官已經說明，憲法應該要保障同志有與異性戀相同的婚姻自由；在2018年底的公投結果，則限縮了修法的形式，因此才會通過專法，以專法形式保障同性婚姻相關權益。
          </p>
        </div>
      </div>
      <div class="icon">
        <div class="text">
          <h4>同性異性，<br class="show-on-mobile"/>都可以「結婚登記」</h4>
          <p>
            根據釋字第748號解釋，大法官認為同志也可以「成立具有親密性及排他性之永久結合關係」；而根據通過的748施行法第4條，成立關係就是到戶政事務所進行「結婚登記」。
          </p>
        </div>
        <%= image_tag "common/icon/01-2.png" %>
      </div>
      <div class="icon">
        <%= image_tag "common/icon/01-3.png", class:"mobile-no-margin" %>
        <div class="text">
          <h4>準用民法，<br class="show-on-mobile"/>權利義務大致相同</h4>
          <p>
            雖然專法的與民法婚姻的規定仍有部分落差，但不管是日常家務代理、婚姻關係終止、彼此間的權利義務關係，都準用民法及其他法規，權利義務大致與異性婚姻相同。
          </p>
        </div>
      </div>
      <div class="data-card first pop-btn" data-pop="1">
        <div class="top">
          <div class="data-card-num">66</div>
          <div class="data-card-desc">位立委</div>
        </div>
        <h2>支持同志結婚登記，在立院投下贊成票</h2>
      </div>
      <div class="data-card">
        <div class="top">
          <div class="data-card-num">526</div>
          <div class="data-card-desc">對同志新人</div>
        </div>
        <h2>2019/05/24 法案上路首日，完成結婚登記</h2>
      </div>
    </div>
  </div>
</section>
<section class="sec7">
  <div class="content reveal">
    <h2>亞洲第一，全世界都在關注</h2>
      <div class="s7-block">
        <div class="top">
          涵蓋五大洲，超過 <b>30</b> 個國家，<b>144</b> 家國際媒體報導
        </div>
        <div class="bottom">
          <%= image_tag "main/media/2.png" %>
          <%= image_tag "main/media/1.png" %>
          <%= image_tag "main/media/3.png" %>
          <%= image_tag "main/media/4.png" %>
          <%= image_tag "main/media/5.png" %>
        </div>
        <a href="https://hackmd.io/@billy3321/HJq5X-h2V?type=view" target="_blank">
          <i class="fa fa-hand-o-right" aria-hidden="true"></i>
          「同性婚姻，亞洲第一」相關新聞收集
        </a><br>
        <a href="https://news.ltn.com.tw/news/politics/breakingnews/2794050" target="_blank">
          <i class="fa fa-hand-o-right" aria-hidden="true"></i>
          我台灣我驕傲！96外媒報導同婚專法通過，世界看見台灣
        </a>
      </div>
    </div>
  </div>
</section>
<section class="sec2 sec_rainbow_bg">
  <div class="bg">
    <%= image_tag "common/icon/background.png", class:"hide-on-mobile" %>
    <%= image_tag "common/icon/background-mobile.png", class:"show-on-mobile" %>
  </div>
  <div class="content">
    <h2 class="mobile-big">同志可以結婚之後，還可以努力的倡議方向</h2>
    <div class="s2-icons">
      <div class="reveal icon">
        <%= image_tag "common/icon/02-1.png" %>
        <div class="text">
          <h4>跨國婚姻</h4>
          <p>
            礙於法律限制，目前台灣同志的只能跟其他26個同婚合法化國家締結跨國婚姻。未來，我們希望愛無國界，沒有限制。
          </p>
        </div>
      </div>
      <div class="reveal icon">
        <%= image_tag "common/icon/02-2.png" %>
        <div class="text">
          <h4>子女權益</h4>
          <p>
            同志家庭目前僅能收養配偶「親生」之子女，而不包括收養的子女，盼往後法律能讓同志家庭可以收養對方的養子女，或再婚後共同收養孩子。
          </p>
        </div>
      </div>
      <div class="reveal icon">
        <%= image_tag "common/icon/02-3.png" %>
        <div class="text">
          <h4>人工生殖</h4>
          <p>
            雖台灣人工生殖技術進步到吸引外籍人士來台求子，但目前法規仍僅限於異性夫妻，未來期盼能夠開放同志家庭也能使用。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec4 flex-jc-ac-">
  <div class="content">
    <h2>了解更多，或許你不會這麼擔心</h2>
    <!-- 一個 QA -->
    <% @sub_categories.find_each do |category| %>
    <h3>
      <%= category.title %>
      <div>
        共<span><%= category.questions.size %></span>篇文章
        <%= link_to "閱讀全部", category_path(category.parent, anchor: "category-#{category.id}") %>
      </div>
    </h3>
    <div class="s4-faqs flex-jfs-nw-">
      <% category.questions.find_each do |question| %>
      <div class="s4-faq reveal">
        <h4>
          <%= question.title %>
        </h4>
        <p>
          <%= question.content %>
        </p>
        <%= link_to "閱讀更多", question_path(question), class: "s4-faq-more-btn" %>
      </div>
      <% end %>
    </div>
    <% end %>
    <!-- </template> -->
  </div>
</section>
<section class="sec5 flex-ac-jc-">
  <div class="content" style="padding: 8% 5% 1%;">
    <h2>支持婚姻平權，你可以這麼做！</h2>
    <div class="support-box">
      <%= image_tag "main/s1.png" %>
      <p>打電話或到臉書留言給立委，鼓勵支持委員，遊說未表態委員。</p>
    </div>
    <div class="support-box">
      <%= image_tag "main/s2.png" %>
      <p>把此正確資訊的網站分享給你所有朋友</p>
    </div>
    <div class="support-box">
      <%= image_tag "main/s3.png" %>
      <p>試著和家中長輩，或是傳遞錯誤訊息給你的朋友耐心解釋</p>
    </div>
  </div>
</section>
<section class="sec2 flex-ac-jc-" style="min-height: 0">
  <div class="content" style="text-align: center; padding: 3% 5% 8%;">
    <h2>訂閱我們的電子報</h2>
    <p style="text-align: left;">
      邀請支持婚姻平權的你加入我們的行列！我們將會透過電子報的方式告訴各種最新的資訊以及重要的訊息！平權路上不能沒有你，而只要有你的參與，台灣會更加美好！
    </p>
    <div class="s2-more">
      <%= link_to "立即訂閱", "https://equallove.neticrm.tw/civicrm/profile/create?gid=2&reset=1", class: "og-btn" %>
    </div>
  </div>
</section>
<section class="pop-up index-page-pop-up">
  <div class="pop-up-top">
    <div class="close-circle">
      <!--<span class="cross left"></span>
      <span class="cross right"></span>-->
      <%= image_tag "common/icon/icon-cross.png" %>
    </div>
  </div>
  <div data-show="1" class="pop-up-box flex-jc-">
    <div class="pop-up-content">
      <div class="green">
        <h3>民進黨</h3>
        <div>
          鄭寶清、張廖萬堅、鄭運鵬、柯建銘、管碧玲、劉建國、尤美女、王定宇、鍾孔炤、陳素月、周春米、李麗芬、施義芳、呂孫綾、吳琪銘、吳思瑤、張宏陸、林俊憲、鍾佳濱、蕭美琴、羅致政、蔡培慧、蘇巧慧、陳靜敏、黃秀芳、陳明文、蔡易餘、吳玉琴、林淑芬、蘇震清、余宛如、劉世芳、吳焜裕、余　天、邱泰源、邱志偉、李俊俋、陳賴素美、陳歐珀、蔣絜安、林靜儀、段宜康、何志偉、吳秉叡、邱議瑩、李昆澤、陳曼麗、王榮璋、郭正亮、賴瑞隆、蘇治芬、郭國文、莊瑞雄、蔡其昌
        </div>
      </div>
      <div class="orange">
        <h3>時代力量</h3>
        <div>
          林昶佐、高潞‧以用‧巴魕剌Kawlo．Iyun．Pacidal、洪慈庸、黃國昌、徐永明
        </div>
      </div>
      <div class="blue">
        <h3>國民黨</h3>
        <div>
          陳宜民、林奕華、許淑華、許毓仁、李彥秀、蔣萬安、柯志恩
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec-addition">
    <a class="cta-button" href="https://equallove.neticrm.tw/civicrm/contribute/transact?reset=1&id=4" target="_blank">捐款支持</a>
</section>
<script>
  $(window).on('load', function() {
    
    $(window).bind('resize', function() {
      $nav = $('#nav').offset().top
    }).resize();

    $(window).bind('scroll', function() {
      $this_Top = $(this).scrollTop();
      if ( $this_Top > $nav ) {
        $('body').addClass('nav-fixed')
      } else {
        $('body').removeClass('nav-fixed')
      }
  　}).scroll();

    $("#introduce-laws").click(function() {
      $('html,body').animate({
        scrollTop: $(".sec2-3").offset().top
        }, 'slow');
    })
  })
</script>
