<div id="blog">
  <%= render partial: "layouts/nav", locals: { id: params[:id], category: @category } %>
  <section class="main-blog" data-category="<%= @category.title %>">
    <div class="content">
      <h1><%= @category.title %></h1>
        <!-- 如果沒有次分類就單純印出這個分類底下的所有文章  -->
      <div class="articles flex-l3-m2-s1-jfs-afs-">
        <% if @pinned_store.present? %>
          <%= link_to send("#{@pinned_store.type.downcase}_path", @pinned_store) do %>
          <div class="article">
            <div class="img img-bg-cover" style="background-image: url('<%= @pinned_store.main_pic.url %>');"></div>
            <div class="text">
              <h2>
                <%= @pinned_store.title.truncate(20) %>
              </h2>
              <p>
                <%= @pinned_store.place %>
              </p>
              <p>
                <%= store.phone %>
              </p>
            </div>
          </div>
          <% end %>
        <% end %>
        <% @stores.each do |store| %>
          <%= link_to send("#{store.type.downcase}_path", store) do %>
          <div class="article">
            <div class="img img-bg-cover" style="background-image: url('<%= store.main_pic.url %>');"></div>
            <div class="text">
              <h2>
                <%= store.title.truncate(20) %>
              </h2>
              <p>
                <%= store.place %>
              </p>
              <p>
                <%= store.phone %>
              </p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

</div>
