<div id="blog" class="blog-understand">
  <%= render partial: "categories/partials/nav", locals: { id: params[:id], category: @category } %>
  <section class="main-blog" data-category="<%= @category.title %>">
    <div class="content">
      <h1><%= @category.title %></h1>
      <!-- sub_categories 是次分類  -->
      <% Category.where(id: Category.on.with_posts.is_subject).find_each do |sub_c| %>
      <div id="category-<%= sub_c.id %>">
      <h5><%= sub_c.title %></h5>
        <div class="articles flex-l3-m2-s1-jfs-afs-">
          <!-- 這裡 for each 次分類底下的文章 -->
          <% sub_c.questions.on.find_each do |question| %>
          <div class="s4-faq">
            <h4>
              <%= question.title %>
            </h4>
            <p>
              <%= question.content %>
            </p>
            <%= link_to question_path(question) do %>
            <div class="s4-faq-more-btn">閱讀更多</div>
            <% end %>
            <!-- 這裡應該要是 question_path(question) -->
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </section>
</div>

<script type="text/javascript">

$(window).load(function() {
  $('html,body').animate({
    scrollTop: $(window.location.hash).offset().top - 100
    }, 'slow');
})

</script>