<div id="blog">
  <%= render partial: "categories/partials/nav", locals: { category: @category } %>
  <section class="main-blog" data-category="<%= @category.title %>">
    <div class="content">
      <h1><%= @category.title %></h1>
        <!-- 如果沒有次分類就單純印出這個分類底下的所有文章  -->
        <div class="articles flex-l3-m2-s1-jfs-afs-">
          <% @category.posts.on.find_each do |post| %>
          <div class="article">
            <div class="img img-bg-cover" style="background-image: url('<%= post.main_pic.url("regular") %>');"></div>
            <div class="text">
              <h2>
                <%= post.title.truncate(20) %>
              </h2>
              <p>
                <%= post.description.try(:truncate, 30) %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <section class="pop-up">
    <div class="pop-up-top">
      <div class="close-circle">
        <span class="cross left"></span>
        <span class="cross right"></span>
      </div>
    </div>
    <div data-show="1" class="pop-up-box flex-jc-">
      <h3>只修五條超簡單</h3>
      <p class="pop-up-content">尤美女委員所提出的民法修正案版本，獲得第九屆立法院內48位跨黨派委員連署，總共只有五條法條需要修改，除去第973條規範訂婚年齡、第980條規範結婚年齡之外，與同性婚姻相關之法條只有三條。傳統稱謂全保留</p>
    </div>
    <div data-show="2" class="pop-up-box flex-jc-">
      <h3>傳統稱謂全保留</h3>
      <p class="pop-up-content">由於尤美女委員的法案版本第971-1條規範同性或異性之婚姻當事人，平等適用夫妻權利義務之規定，此條文如通過，可保留所有稱謂，不需要將「夫妻」改為「配偶」、「父母」改為「雙親」，修改條文數不但大幅降低，節省司法成本，也請擔心以後不能叫爸爸、不能叫媽媽、不能叫祖父母的朋友們可以寬心喔。</p>
    </div>
    <div data-show="3" class="pop-up-box flex-jc-">
      <h3>婚姻規範都相同</h3>
      <p class="pop-up-content">此次的婚姻平權法案修法，是讓同性夫妻和異性夫妻，能夠平等適用現有的婚姻制度，所以目前婚姻制度中所規範的「單一配偶制」、「彼此互負性忠貞義務」、「近親不得通婚」等規範完全沒有更動，更沒有多P或人獸交合法的修法。目前是在推動婚姻制度的修法，沒有伴侶法或家屬制度。社會中的單一配偶婚姻制度是在民法頒訂的1930年才開始，此後民法中夫妻的財產分配制度也隨著時代陸續變，所以法律必須隨著社會變遷與時俱進，開放同性婚姻，讓想遵守婚姻規範的同志朋友能夠一同守護家庭價值，何樂而不為呢。</p>
    </div>
    <div data-show="4" class="pop-up-box flex-jc-">
      <h3>兒童權益不退讓</h3>
      <p class="pop-up-content">此次修法為民法，並非兒少相關法律，現有兒少相關保護完全沒變。目前同志家庭生養小孩的方式有四種，分別是：前段婚姻的孩子、國外人工生殖、親戚的孩子、無血緣收養，不管是哪一種方式，只要牽涉到「收養」，不論是同性或異性夫妻，根據《民法》及《兒童及青少年權益保障法》的規定，都需要經過機構或社工的專業評估，加上法院裁定。<br><br>

      目前已有超過百對的同志伴侶，用各種方式生了自己的小孩，這些小孩有兩個爸爸，或兩個媽媽，卻在法律上是單親家庭，只有通過婚姻平權，讓孩子擁有全面性的保障，才是符合兒童的最佳利益。<br><br>

      台灣法律並未規範同志不能收養小孩，現在也已有同志通過長達一年以上的嚴格社福機構評估，成為合格的收養人，以單身身份收養孩子。但如果出養家庭不願意自己的孩子被同志收養，基於「出養家庭最大」的評估原則，同志依舊無法收養該小孩。同時，如果收養孩子的這位同志有伴侶，在目前沒有婚姻關係的狀況之下，孩子在法律上依舊是單親家庭，另一方難以獲得親權。<br><br>

      至於尤美女委員版本中的第1079-1條，是規範收出養機構與法院的評估與裁定過程，不得歧視收養人的性傾向與性別認同，同時需要增加多元性別的相關了解課程，並非反方所說的「霸王收養條款」。再次重申，現有的收出養規範完全沒有改變。</p>
    </div>
   <div data-show="5" class="pop-up-box flex-jc-">
      <h3></h3>
      <p class="pop-up-content"></p>
    </div>
  </section>
</div>
