<style>
  footer {
    line-height: 1.5;
  }
</style>
<footer id="footer">
  <div class="left">
    <%= image_tag "common/logo_h.svg" %>
    <div>
      婚姻平權大平台於2016年11月正式成軍，<br>
      為2016主要推動婚姻平權法案修民法的官方平台，<br>
      由五個同志與性別組織所組成，分別為：<br>
      <br>
      台灣同志諮詢熱線協會<br>
      台灣同志家庭權益促進會<br>
      婦女新知基金會<br>
      台灣同志人權法案遊說聯盟<br>
      酷摩沙獎<br>
      等共同組成。
    </div>
  </div>
  <div class="right">
    <div class="r-left">
      <div class="f-block">
        <a class="title" href="">媒體報導</a>
        <a href="">新聞稿</a>
        <a href="">大家的故事</a>
        <a href="">媒體信箱</a>
      </div>
      <div class="f-block">
        <a class="title" href="">團隊介紹</a>
      </div>
      <div class="f-block">
        <a class="title" href="">訂閱電子報</a>
      </div>
    </div>
    <div class="r-right">
      <div class="f-block">
        <a class="title" href="">聯絡我們</a>
        <p>感謝全台同志與性別團體 和每一個你為台灣的平等共同努力，如有任何問題，歡迎和各團體聯繫。</p>
        <a href=""><span>網站</span><b>http://equallove.tw</b></a>
        <a href=""><span>Email</span><b>equallovetw@gmail.com<b></a>
        <div class="s-icons flex-jfs-ac-">
          <a href=""><%= image_tag "common/icon-facebook.png" %></a>
          <a href=""><%= image_tag "common/icon-line.png" %></a>
          <a href=""><%= image_tag "common/icon-twitter.png" %></a>
          <a class="yb" href=""><%= image_tag "common/icon-youtube.png" %></a>
        </div>
      </div>
    </div>
    <div class="r-bottom">
      婚姻平權大平台由社團法人同志家庭權益促進會管理財務（統一編號 26331510）
    </div>
  </div>
</footer>
