<style>
  footer {
    line-height: 1.5;
  }
</style>
<section class="sec-addition">
    <a class="cta-button" href="https://equallove.neticrm.tw/civicrm/contribute/transact?reset=1&id=4" target="_blank">捐款支持</a>
</section>
<footer id="footer">
  <div class="left">
    <%= image_tag "common/logo_h.svg" %>
    <div>
        婚姻平權大平台於2016年11月成立，為推動2016新版婚姻平權法案的跨團體平台，由五個同志與性別組織組成：台灣同志諮詢熱線協會、台灣同志家庭權益促進會、婦女新知基金會、台灣同志人權法案遊說聯盟、GagaOoLala同志影音平台，共同投入平台運作，持續至2019年10月。<br />
        2019年5月24日台灣同性婚姻法上路之後，婚姻平權的推動已完成階段性任務，因此，自2019年11月起，婦女新知基金會與GagaOoLala同志影音平台因人力因素不再參與婚姻平權大平台的決策工作，轉為議題與活動的合作團體。
    </div>
  </div>
  <div class="right">
    <div class="r-left">
      <div class="f-block">
        <a class="title no-link" href="javascript://">媒體報導</a>
        <a href="/categories/2">新聞稿</a>
        <a href="/categories/16">大家的故事</a>
        <a href="mailto:equallovetw@gmail.com">媒體信箱</a>
      </div>
      <div class="f-block">
        <a class="title has-arrow" href="/about">團隊介紹<i class="fal fa-chevron-right"></i></a>
      </div>
      <div class="f-block">
        <a class="title has-arrow" href="https://equallove.neticrm.tw/civicrm/profile/create?gid=2&reset=1" target="_blank">訂閱電子報<i class="fal fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="r-right">
      <div class="f-block">
        <a class="title no-link" href="javascript://">聯絡我們</a>
        <p>感謝全台同志與性別團體 和每一個你為台灣的平等共同努力，如有任何問題，歡迎和各團體聯繫。</p>
        <a href=""><span>網站</span><b>http://equallove.tw</b></a>
        <a href=""><span>Email</span><b>equallovetw@gmail.com<b></a>
        <div class="s-icons flex-jfs-ac-">
          <a href="https://www.facebook.com/equallovetw/" target="_blank"><%= image_tag "common/icon-footer-facebook.svg" %></a>
          <a href="https://line.me/R/ti/p/%40mrt6962v" target="_blank"><%= image_tag "common/icon-footer-line.svg" %></a>
          <a href="https://www.instagram.com/equallove.tw/" target="_blank"><%= image_tag "common/icon-footer-instagram.svg" %></a>
          <a class="yb" href="https://www.youtube.com/channel/UCN1JT92di1cDjMnQ-HQQLVA" target="_blank"><%= image_tag "common/icon-footer-youtube.svg" %></a>
        </div>
      </div>
    </div>
    <div class="r-bottom">
      婚姻平權大平台由社團法人同志家庭權益促進會管理財務（統一編號 26331510）
    </div>
  </div>
</footer>
