<style>
  footer {
    line-height: 1.5;
  }
</style>
<footer id="footer">
  <div class="left">
    <%= image_tag "common/logo_h.svg" %>
    <div>
      婚姻平權大平台於2016年11月正式成軍，<br>
      為2016主要推動婚姻平權法案修民法的官方平台，<br>
      由五個同志與性別組織所組成，分別為：<br>
      <br>
      台灣同志諮詢熱線協會<br>
      台灣同志家庭權益促進會<br>
      婦女新知基金會<br>
      台灣同志人權法案遊說聯盟<br>
      酷摩沙獎<br>
      等共同組成。
    </div>
  </div>
  <div class="right">
    <div class="r-left">
      <div class="f-block">
        <a class="title no-link" href="javascript://">媒體報導</a>
        <a href="/categories/2">新聞稿</a>
        <a href="/categories/16">大家的故事</a>
        <a href="mailto:equallovetw@gmail.com">媒體信箱</a>
      </div>
      <div class="f-block">
        <a class="title has-arrow" href="/about">團隊介紹<i class="fal fa-chevron-right"></i></a>
      </div>
      <div class="f-block">
        <a class="title has-arrow" href="">訂閱電子報<i class="fal fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="r-right">
      <div class="f-block">
        <a class="title no-link" href="javascript://">聯絡我們</a>
        <p>感謝全台同志與性別團體 和每一個你為台灣的平等共同努力，如有任何問題，歡迎和各團體聯繫。</p>
        <a href=""><span>網站</span><b>http://equallove.tw</b></a>
        <a href=""><span>Email</span><b>equallovetw@gmail.com<b></a>
        <div class="s-icons flex-jfs-ac-">
          <a href="https://www.facebook.com/equallovetw/" target="_blank"><%= image_tag "common/icon-footer-facebook.svg" %></a>
          <a href="https://line.me/R/ti/p/%40mrt6962v" target="_blank"><%= image_tag "common/icon-footer-line.svg" %></a>
          <a href="https://www.instagram.com/equallove.tw/" target="_blank"><%= image_tag "common/icon-footer-instagram.svg" %></a>
          <a class="yb" href="https://www.youtube.com/channel/UCN1JT92di1cDjMnQ-HQQLVA" target="_blank"><%= image_tag "common/icon-footer-youtube.svg" %></a>
        </div>
      </div>
    </div>
    <div class="r-bottom">
      婚姻平權大平台由社團法人同志家庭權益促進會管理財務（統一編號 26331510）
    </div>
  </div>
</footer>
