<nav id="nav">
  <div class="nav-left flex-jfs-ac-">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag "common/logo_h.svg" %>
      <% end %>
    </div>
  </div>
  <div class="nav-right flex-ac-jc-">
    <a href="http://beebee.equallove.tw/" target="_blank" style="margin-left: 0;">
      <img style="width: 16px; vertical-align: middle; margin-top: -1px;" src="http://beebee.equallove.tw/img/header-logo.svg" alt="">
      蜂潮行動
    </a>
    <%= link_to "首頁", root_path %>
    <div class="dropdown-link">
      <span class="text">最新消息</span>
      <div class="dropdown-box" style="width: 125px;">
        <a href="/categories/1" target="_blank">
          最新消息
        </a>
        <a href="/categories/2" target="_blank">
          新聞稿
        </a>
        <a href="/categories/4" target="_blank">
          影音紀錄
        </a>
      </div>
    </div>
    <div class="dropdown-link">
      <span class="text">同婚知識</span>
      <div class="dropdown-box" style="width: 165px;">
        <a href="/categories/3" target="_blank">
          闢謠專區
        </a>
        <a href="/categories/5" target="_blank">
          了解婚姻平權
        </a>
        <a href="/categories/16" target="_blank">
          愛教會我們的事
        </a>
      </div>
    </div>
    <%= link_to "友善店家", '/categories/17' %>
    <a href="/about" target="_blank">
      關於我們
    </a>
  </div>
  <div class="nav-right-mobile">
    <div class="nav-menu"></div>
    <div class="nav-list">
      <a href="http://beebee.equallove.tw/" target="_blank">
        <img style="width: 16px; vertical-align: middle; margin-top: -1px;" src="http://beebee.equallove.tw/img/header-logo.svg" alt="">
        蜂潮行動
      </a>
      <%= link_to "首頁", root_path %>
      <div class="m-dropdown-link">
        <span class="text">最新消息</span>
        <div class="m-dropdown-box" >
          <a href="/categories/1" target="_blank">
            最新消息
          </a>
          <a href="/categories/2" target="_blank">
            新聞稿
          </a>
          <a href="/categories/4" target="_blank">
            影音紀錄
          </a>
        </div>
      </div>
      <div class="m-dropdown-link">
        <span class="text">同婚知識</span>
        <div class="m-dropdown-box" >
          <a href="/categories/3" target="_blank" >
            闢謠專區
          </a>
          <a href="/categories/5" target="_blank" >
            了解婚姻平權
          </a>
          <a href="/categories/16" target="_blank">
            愛教會我們的事
          </a>
        </div>
      </div>
      <%= link_to "友善店家", '/categories/17' %>
      <a href="/about" target="_blank">
        關於我們
      </a>
    </div>
  </div>
</nav>
<script>
  $('.m-dropdown-link').click(function() {
    if ($(this).hasClass('active')) {
      $(this).removeClass('active');
    } else {
      $('.m-dropdown-link.active').removeClass('active');
      $(this).addClass('active');
    }
  })
</script>
